.btn{
    height: 32px;
    cursor: pointer;
}

.play{
    display: block;
    margin-left: 37px;
}

.pause{
    display: none;
    margin-left: 37px;
}

.audioPlayer{
    border: 2px solid gray;
    margin-top: 10px;
    height: 65px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #dedada;
    margin-bottom: 0px;
}

.totalProgress{
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: -80px;
    width: 1000px;
    height: 8px;
    background-color: white;
    border-radius: 10px;
}

.currentProgress{
    width: 0;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #bce8f1;
}

.time{
    display: block;
    margin-left: 10px;
    position: absolute;
    top: 10px;
    left: 145px;
    color: #151313;
}