.musiclist{
    height: 40px;
}
.musictop{
    margin-top: 15px;
}
.searchinput{
    margin-left: 15px;
}
.tdwitdh1{
    width: 500px;
    text-align:left;
}
.tdwitdh2{
    width: 250px;
    text-align:left;
}
.tdwitdh3{
    width: 380px;
    text-align:left;
}
.tdwitdh4{
    width: 50px;
    text-align:left;
}
.musiclist:hover{
     background-color:#8c8686;
}
.active{
    background-color:#d6d0d0;
}
.previous{
    margin-left: -44px;width: 32px;margin-top: 7px;
}
.previous:hover{
    background-color: #d4cece;
}
.next{
    margin-left: 12px;width: 32px;margin-top: 7px;
}
.next:hover{
    background-color: #d4cece;
}